<section>
  <h1>About</h1>
  <p>
      Jobsuitors is a platform that matches jobseekers to their best-fit employers. Through Jobsuitors, jobseekers get one hub where they can showcase all of their professional information, discover their best-matched jobs, and apply in 1 click. Employers get a candidate sourcing engine that lets them automate the process of posting positions, filtering through candidates, and vetting them.
  </p>
  <p>
      Come say <a href="http://alpha.jobsuitors.com">hi</a>!
  </p>
</section>
