<section>
  <h1>Blog Authors</h1>
  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#" style="white-space: normal;">
        <img class="media-object" src="/images/authors/stevedean.jpg" width="64px"/>
      </a>
      <div class="media-body">
        <h4 class="media-heading" style="margin-bottom: 0;">Steve Dean</h4>
        Chief Advocate<br/>
        Follow <a href="http://www.twitter.com/@StevenMDean" target="_blank">@StevenMDean</a>
      </div>
    </li>
    <li class="media">
      <a class="pull-left" href="#" style="white-space: normal;">
        <img class="media-object" src="/images/authors/samiurra.jpg" width="64px"/>
      </a>
      <div class="media-body">
        <h4 class="media-heading" style="margin-bottom: 0;">Samiur Rahman</h4>
        Chief Inventor<br/>
        Follow <a href="http://www.twitter.com/@samiur1204" target="_blank">@samiur1204</a>
      </div>
    </li>
    <li class="media">
      <a class="pull-left" href="#" style="white-space: normal;">
        <img class="media-object" src="/images/authors/andrewk.jpg" width="64px"/>
      </a>
      <div class="media-body">
        <h4 class="media-heading" style="margin-bottom: 0;">Andrew Koontharana</h4>
        Chief Executive<br/>
      </div>
    </li>
  </ul>
</section>
